In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine,inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import datetime as dt
from datetime import timedelta
import numpy as np
import requests
import seaborn as sns
import matplotlib.pyplot as plt
from config import password

In [2]:
Accidents_df = pd.read_csv("USAccidents_Clean.csv")

In [3]:
Accidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37650 entries, 0 to 37649
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         37650 non-null  int64
 1   Severity           37650 non-null  int64
 2   Start_Time         37650 non-null  object
 3   End_Time           37650 non-null  object
 4   Start_Lat          37650 non-null  float64
 5   Start_Lng          37650 non-null  float64
 6   City               37650 non-null  object
 7   State              37650 non-null  object
 8   Weather_Condition  37650 non-null  object
 9   Year               37650 non-null  int64
 10  Amenity            37650 non-null  bool
 11  Bump               37650 non-null  bool
 12  Crossing           37650 non-null  bool
 13  Give_Way           37650 non-null  bool
 14  Junction           37650 non-null  bool
 15  No_Exit            37650 non-null  bool
 16  Railway            37650 non-null  bool
 17  Roundabout         37650 non-null  bool
 18  Station            37650 non-null  bool
 19  Stop               37650 non-null  bool
 20  Traffic_Calming    37650 non-null  bool
 21  Traffic_Signal     37650 non-null  bool
 22  Turning_Loop       37650 non-null  bool
 23  Time               37650 non-null  object
 24  StartDate          37650 non-null  object
 25  Start_year         37650 non-null  int64
dtypes: bool(13), float64(2), int64(4), object(7)
memory usage: 4.2+ MB

In [4]:
pd.set_option('display.max_columns', None)
Accidents_df.head()

,Unnamed: 0,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,City,State,Weather_Condition,Year,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Time,StartDate,Start_year
0,237383,2,11/28/2020 1:33,11/28/2020 3:13,33.963490,-118.370694,Los Angeles,CA,Fair,2020,False,False,False,False,False,False,False,False,False,True,False,True,False,1:33:00,11/28/2020,2020
1,237386,2,11/7/2020 12:05,11/7/2020 16:03,32.917963,-96.856461,Dallas,TX,Fair,2020,False,False,False,False,False,False,False,False,False,False,False,False,False,12:05:00,11/7/2020,2020
2,237387,2,11/3/2020 17:10,11/3/2020 18:00,32.921262,-96.848712,Dallas,TX,Fair,2020,False,False,False,False,False,False,False,False,False,False,False,False,False,17:10:00,11/3/2020,2020
3,237403,2,11/10/2020 2:32,11/10/2020 4:46,34.152964,-118.278776,Los Angeles,CA,Fair,2020,False,False,False,False,False,False,False,False,False,False,False,False,False,2:32:00,11/10/2020,2020
4,237454,2,12/23/2020 5:22,12/23/2020 11:31,34.071218,-118.235087,Los Angeles,CA,Haze,2020,False,False,False,False,False,False,False,False,False,False,False,False,False,5:22:00,12/23/2020,2020

In [5]:
Accidents_df.rename(columns={"Unnamed: 0":"Accident_id"},inplace=True)

In [6]:
Accidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37650 entries, 0 to 37649
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Accident_id        37650 non-null  int64
 1   Severity           37650 non-null  int64
 2   Start_Time         37650 non-null  object
 3   End_Time           37650 non-null  object
 4   Start_Lat          37650 non-null  float64
 5   Start_Lng          37650 non-null  float64
 6   City               37650 non-null  object
 7   State              37650 non-null  object
 8   Weather_Condition  37650 non-null  object
 9   Year               37650 non-null  int64
 10  Amenity            37650 non-null  bool
 11  Bump               37650 non-null  bool
 12  Crossing           37650 non-null  bool
 13  Give_Way           37650 non-null  bool
 14  Junction           37650 non-null  bool
 15  No_Exit            37650 non-null  bool
 16  Railway            37650 non-null  bool
 17  Roundabout         37650 non-null  bool
 18  Station            37650 non-null  bool
 19  Stop               37650 non-null  bool
 20  Traffic_Calming    37650 non-null  bool
 21  Traffic_Signal     37650 non-null  bool
 22  Turning_Loop       37650 non-null  bool
 23  Time               37650 non-null  object
 24  StartDate          37650 non-null  object
 25  Start_year         37650 non-null  int64
dtypes: bool(13), float64(2), int64(4), object(7)
memory usage: 4.2+ MB

In [7]:
Accidents_df.to_csv("us_accidents.csv",index=True)

In [8]:
from sqlalchemy import Column, Integer, String, Float,BigInteger,Boolean
from sqlalchemy.ext.declarative import declarative_base
Base=declarative_base()

In [9]:
class USAccidents(Base):
    __tablename__='us_accidents'
    id = Column(Integer, primary_key=True)
    Accident_id= Column(BigInteger)
    Severity= Column(Integer)
    Start_Time=Column(String)
    End_Time= Column(String)
    Start_Lat= Column(Float)
    Start_Lng= Column(Float)
    City =Column(String)
    State= Column(String)
    Weather_Condition= Column(String)
    Year= Column(Integer)
    Amenity= Column(Boolean)
    Bump=Column(Boolean) 
    Crossing= Column(Boolean)
    Give_Way=Column(Boolean)
    Junction=Column(Boolean) 
    No_Exit =Column(Boolean)
    Railway =Column(Boolean)
    Roundabout=Column(Boolean) 
    Station =Column(Boolean)
    Stop =Column(Boolean)
    Traffic_Calming=Column(Boolean)
    Traffic_Signal= Column(Boolean)
    Turning_Loop =Column(Boolean)
    Time= Column(String)
    StartDate=Column(String)
    Start_year= Column(Integer)

In [10]:
engine = create_engine('sqlite:///us_accidents.db', echo=False)
conn=engine.connect()

In [11]:
Base.metadata.create_all(engine)

In [12]:
Accidents_df.to_sql('us_accidents', con=engine,if_exists="append",index=False)

In [13]:
Base.metadata.create_all(engine)

In [14]:
#CREATE AN ID COL BEFORE IT
#conn.execute('ALTER TABLE `us_accidents` ADD PRIMARY KEY')
#conn.execute('alter table us_accidents add primary key(index)')

#conn.execute('alter table us_accidents drop id')
#conn.execute('alter table us_accidents add id serial primary key')

In [15]:
engine = create_engine('sqlite:///us_accidents.db', echo=False)
conn=engine.connect()

In [16]:
#conn.execute("DROP TABLE us_accidents ")

In [17]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
base=automap_base()
base.prepare(engine, reflect=True)

In [18]:
base.classes.keys()

['us_accidents']

In [23]:
inspector = inspect(engine)

In [24]:
#inspector.get_table_names()

In [25]:
pd.read_sql_table('us_accidents',conn)

,id,Accident_id,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,City,State,Weather_Condition,Year,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Time,StartDate,Start_year
0,1,237383,2,11/28/2020 1:33,11/28/2020 3:13,33.963490,-118.370694,Los Angeles,CA,Fair,2020,False,False,False,False,False,False,False,False,False,True,False,True,False,1:33:00,11/28/2020,2020
1,2,237386,2,11/7/2020 12:05,11/7/2020 16:03,32.917963,-96.856461,Dallas,TX,Fair,2020,False,False,False,False,False,False,False,False,False,False,False,False,False,12:05:00,11/7/2020,2020
2,3,237387,2,11/3/2020 17:10,11/3/2020 18:00,32.921262,-96.848712,Dallas,TX,Fair,2020,False,False,False,False,False,False,False,False,False,False,False,False,False,17:10:00,11/3/2020,2020
3,4,237403,2,11/10/2020 2:32,11/10/2020 4:46,34.152964,-118.278776,Los Angeles,CA,Fair,2020,False,False,False,False,False,False,False,False,False,False,False,False,False,2:32:00,11/10/2020,2020
4,5,237454,2,12/23/2020 5:22,12/23/2020 11:31,34.071218,-118.235087,Los Angeles,CA,Haze,2020,False,False,False,False,False,False,False,False,False,False,False,False,False,5:22:00,12/23/2020,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75295,75296,1048550,2,12/10/2019 16:42,12/10/2019 17:15,32.795170,-117.208700,San Diego,CA,Cloudy,2019,False,False,False,False,False,False,False,False,False,False,False,False,False,16:42:00,12/10/2019,2019
75296,75297,1048552,2,12/10/2019 16:41,12/10/2019 18:49,32.795171,-117.208671,San Diego,CA,Cloudy,2019,False,False,False,False,False,False,False,False,False,False,False,False,False,16:41:00,12/10/2019,2019
75297,75298,1048554,2,12/10/2019 16:43,12/10/2019 17:35,32.806762,-117.215972,San Diego,CA,Cloudy,2019,False,False,False,False,False,False,False,False,False,False,False,False,False,16:43:00,12/10/2019,2019
75298,75299,1048560,2,12/10/2019 16:53,12/10/2019 17:48,34.039993,-118.291563,Los Angeles,CA,Cloudy,2019,False,False,True,False,False,False,False,False,False,False,False,True,False,16:53:00,12/10/2019,2019
75299,75300,1048567,2,12/10/2019 17:02,12/10/2019 17:55,34.054078,-118.237857,Los Angeles,CA,Cloudy,2019,False,False,False,False,False,False,False,False,False,False,False,False,False,17:02:00,12/10/2019,2019

In [26]:
columns = inspector.get_columns('us_accidents')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
Accident_id BIGINT
Severity INTEGER
Start_Time VARCHAR
End_Time VARCHAR
Start_Lat FLOAT
Start_Lng FLOAT
City VARCHAR
State VARCHAR
Weather_Condition VARCHAR
Year INTEGER
Amenity BOOLEAN
Bump BOOLEAN
Crossing BOOLEAN
Give_Way BOOLEAN
Junction BOOLEAN
No_Exit BOOLEAN
Railway BOOLEAN
Roundabout BOOLEAN
Station BOOLEAN
Stop BOOLEAN
Traffic_Calming BOOLEAN
Traffic_Signal BOOLEAN
Turning_Loop BOOLEAN
Time VARCHAR
StartDate VARCHAR
Start_year INTEGER

In [27]:
engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost:5432/USAccidents')
conn=engine.connect()

In [28]:
#Accidents_df.to_sql(name='us_accidents', con=engine, if_exists='replace', index=True, method='multi')

In [29]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [30]:
base=automap_base()
base.prepare(engine, reflect=True)

In [31]:
base.classes.keys()

['us_accidents']

In [32]:
USAccidents = base.classes.us_accidents

In [45]:
session = Session(bind=engine)

In [46]:
inspector = inspect(engine)

In [47]:
inspector.get_table_names()

['us_accidents']

In [48]:
columns = inspector.get_columns('us_accidents')
for column in columns:
    print(column["name"], column["type"])

index BIGINT
Accident_id BIGINT
Severity BIGINT
Start_Time TEXT
End_Time TEXT
Start_Lat DOUBLE PRECISION
Start_Lng DOUBLE PRECISION
City TEXT
State TEXT
Weather_Condition TEXT
Year BIGINT
Amenity BOOLEAN
Bump BOOLEAN
Crossing BOOLEAN
Give_Way BOOLEAN
Junction BOOLEAN
No_Exit BOOLEAN
Railway BOOLEAN
Roundabout BOOLEAN
Station BOOLEAN
Stop BOOLEAN
Traffic_Calming BOOLEAN
Traffic_Signal BOOLEAN
Turning_Loop BOOLEAN
Time TEXT
StartDate TEXT
Start_year BIGINT

In [49]:
#results=session.query(USAccidents).order_by(USAccidents.Severity).limit(5)
#for result in results:
   # print (result.__dict__)

In [50]:
#session.close

In [51]:
results=session.query(USAccidents).filter(USAccidents.Year==2019).limit(10).all()
#print(results)
for result in results:
    print(result.City,result.State,result.Start_Lat,result.Start_Lng,result.Severity,result.Weather_Condition)

Los Angeles CA 34.056344 -118.241267 2 Fair
Los Angeles CA 34.073061 -118.219156 2 Fair
Los Angeles CA 34.016994 -118.141115 2 Fair
Los Angeles CA 34.101681 -118.316495 2 Fair
Los Angeles CA 34.012466 -118.137455 2 Fair
Los Angeles CA 34.150413 -118.280699 2 Fair
Los Angeles CA 34.032086 -118.262248 2 Fair
San Diego CA 32.806194 -117.113608 2 Fair
Los Angeles CA 34.059158 -118.245397 2 Partly Cloudy
Dallas TX 32.71821 -96.82807 3 Fair

In [52]:
#sel=()
start='2019'
end='2020'


results=session.query(USAccidents).filter(USAccidents.Year>=start,USAccidents.Year<=end).order_by(
        USAccidents.Year.desc()).limit(10).all()

#print(results)
for result in results:
    print(result.City,result.State,result.Start_Lat,result.Start_Lng,result.Severity,result.Weather_Condition)
    
    
#recent_date = dt.datetime.strptime(recent[0], '%Y-%m-%d').date()

Dallas TX 32.917963 -96.856461 2 Fair
Dallas TX 32.921262 -96.848712 2 Fair
Los Angeles CA 34.152964 -118.278776 2 Fair
Los Angeles CA 34.071218 -118.235087 2 Haze
Dallas TX 32.802467 -96.789648 2 Cloudy
Los Angeles CA 34.02396 -118.427585 2 Partly Cloudy
Dallas TX 32.782353 -96.683218 2 Cloudy
New York NY 40.847107 -73.933376 2 Mostly Cloudy
New York NY 40.847867 -73.934797 2 Fair
Los Angeles CA 33.96349 -118.370694 2 Fair

In [58]:
session = Session(bind=engine)

In [60]:
from sqlalchemy import func

In [61]:
results=session.query(USAccidents.Severity,func.count(USAccidents.Severity)).group_by(USAccidents.Severity).order_by(USAccidents.Severity).all()
print(results)
#for result in results:
    #print(result.City,result.State,result.Start_Lat,result.Start_Lng,result.Severity,result.Weather_Condition)

[(1, 7), (2, 34887), (3, 1973), (4, 783)]

In [62]:
session = Session(bind=engine)

In [63]:
results=session.query(USAccidents.Year,func.count(USAccidents.Year),USAccidents.City).group_by(USAccidents.Year,USAccidents.City).all()
print(results)

[(2020, 1979, 'New York'), (2019, 35, 'Dallas'), (2020, 6211, 'San Diego'), (2020, 18933, 'Los Angeles'), (2019, 12, 'New York'), (2019, 556, 'San Diego'), (2020, 8731, 'Dallas'), (2019, 1193, 'Los Angeles')]

In [64]:
session = Session(bind=engine)

In [66]:
results=session.query(USAccidents.Weather_Condition,USAccidents.Year,USAccidents.City,func.count(USAccidents.Year)).group_by(USAccidents.Year,USAccidents.City,USAccidents.Weather_Condition).limit(10).all()
print(results)

[('Light Rain / Windy', 2019, 'Los Angeles', 2), ('Light Rain / Windy', 2020, 'New York', 3), ('Fog / Windy', 2020, 'Dallas', 1), ('Rain', 2020, 'New York', 39), ('Thunder', 2020, 'Los Angeles', 1), ('Fair', 2020, 'San Diego', 2742), ('Fair / Windy', 2019, 'Dallas', 1), ('Rain / Windy', 2020, 'San Diego', 2), ('Heavy Rain', 2020, 'Los Angeles', 141), ('Cloudy', 2020, 'San Diego', 903)]