In [28]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine,inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import datetime as dt
from datetime import timedelta
import numpy as np
import requests
import seaborn as sns
import matplotlib.pyplot as plt
from config import password

In [68]:
Accidents_df = pd.read_csv("USAccidents_Clean.csv")
Accidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36960 entries, 0 to 36959
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         36960 non-null  int64
 1   Severity           36960 non-null  int64
 2   Start_Time         36960 non-null  object
 3   End_Time           36960 non-null  object
 4   Start_Lat          36960 non-null  float64
 5   Start_Lng          36960 non-null  float64
 6   Street             36960 non-null  object
 7   City               36960 non-null  object
 8   State              36960 non-null  object
 9   Weather_Condition  36960 non-null  object
 10  Year               36960 non-null  int64
 11  Amenity            36960 non-null  bool
 12  Bump               36960 non-null  bool
 13  Crossing           36960 non-null  bool
 14  Give_Way           36960 non-null  bool
 15  Junction           36960 non-null  bool
 16  No_Exit            36960 non-null  bool
 17  Railway            36960 non-null  bool
 18  Roundabout         36960 non-null  bool
 19  Station            36960 non-null  bool
 20  Stop               36960 non-null  bool
 21  Traffic_Calming    36960 non-null  bool
 22  Traffic_Signal     36960 non-null  bool
 23  Turning_Loop       36960 non-null  bool
 24  Precipitation(in)  36960 non-null  float64
 25  Wind_Speed(mph)    36960 non-null  float64
 26  Time               36960 non-null  object
 27  StartDate          36960 non-null  object
 28  Start_year         36960 non-null  float64
dtypes: bool(13), float64(5), int64(3), object(8)
memory usage: 5.0+ MB

In [69]:
pd.set_option('display.max_columns', None)

In [70]:
Accidents_df['StartDate']=pd.to_datetime(Accidents_df['StartDate'])
#Accidents_df['StartDate']

In [71]:
Accidents_df.rename(columns={"Unnamed: 0":"Accident_id",
                            "Precipitation(in)":"Precipitation",
                            "Wind_Speed(mph)":"Wind_Speed"},inplace=True)

In [72]:
Accidents_df.head()

,Accident_id,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Street,City,State,Weather_Condition,Year,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Precipitation,Wind_Speed,Time,StartDate,Start_year
0,237383,2,11/28/2020 1:33,11/28/2020 3:13,33.963490,-118.370694,S La Cienega Blvd,Los Angeles,CA,Fair,2020,False,False,False,False,False,False,False,False,False,True,False,True,False,0.0,0.0,01:33:00,2020-11-28,2020.0
1,237386,2,11/7/2020 12:05,11/7/2020 16:03,32.917963,-96.856461,I-635 W,Dallas,TX,Fair,2020,False,False,False,False,False,False,False,False,False,False,False,False,False,0.0,7.0,12:05:00,2020-11-07,2020.0
2,237387,2,11/3/2020 17:10,11/3/2020 18:00,32.921262,-96.848712,I-635 W,Dallas,TX,Fair,2020,False,False,False,False,False,False,False,False,False,False,False,False,False,0.0,12.0,17:10:00,2020-11-03,2020.0
3,237403,2,11/10/2020 2:32,11/10/2020 4:46,34.152964,-118.278776,CA-134 E,Los Angeles,CA,Fair,2020,False,False,False,False,False,False,False,False,False,False,False,False,False,0.0,0.0,02:32:00,2020-11-10,2020.0
4,237454,2,12/23/2020 5:22,12/23/2020 11:31,34.071218,-118.235087,Stadium Way,Los Angeles,CA,Haze,2020,False,False,False,False,False,False,False,False,False,False,False,False,False,0.0,3.0,05:22:00,2020-12-23,2020.0

In [73]:
Accidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36960 entries, 0 to 36959
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Accident_id        36960 non-null  int64
 1   Severity           36960 non-null  int64
 2   Start_Time         36960 non-null  object
 3   End_Time           36960 non-null  object
 4   Start_Lat          36960 non-null  float64
 5   Start_Lng          36960 non-null  float64
 6   Street             36960 non-null  object
 7   City               36960 non-null  object
 8   State              36960 non-null  object
 9   Weather_Condition  36960 non-null  object
 10  Year               36960 non-null  int64
 11  Amenity            36960 non-null  bool
 12  Bump               36960 non-null  bool
 13  Crossing           36960 non-null  bool
 14  Give_Way           36960 non-null  bool
 15  Junction           36960 non-null  bool
 16  No_Exit            36960 non-null  bool
 17  Railway            36960 non-null  bool
 18  Roundabout         36960 non-null  bool
 19  Station            36960 non-null  bool
 20  Stop               36960 non-null  bool
 21  Traffic_Calming    36960 non-null  bool
 22  Traffic_Signal     36960 non-null  bool
 23  Turning_Loop       36960 non-null  bool
 24  Precipitation      36960 non-null  float64
 25  Wind_Speed         36960 non-null  float64
 26  Time               36960 non-null  object
 27  StartDate          36960 non-null  datetime64[ns]
 28  Start_year         36960 non-null  float64
dtypes: bool(13), datetime64[ns](1), float64(5), int64(3), object(7)
memory usage: 5.0+ MB

### uploading dataframe to sqlite database

In [54]:
from sqlalchemy import Column, Integer, String, Float,BigInteger,Boolean
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import func
Base=declarative_base()

In [74]:
class USAccidents(Base):
    __tablename__='us_accidents'
    id = Column(Integer, primary_key=True)
    Accident_id= Column(BigInteger)
    Severity= Column(Integer)
    Start_Time=Column(String)
    End_Time= Column(String)
    Start_Lat= Column(Float)
    Start_Lng= Column(Float)
    Street=Column(String)
    City =Column(String)
    State= Column(String)
    Weather_Condition= Column(String)
    Year= Column(Integer)
    Amenity= Column(Boolean)
    Bump=Column(Boolean) 
    Crossing= Column(Boolean)
    Give_Way=Column(Boolean)
    Junction=Column(Boolean) 
    No_Exit =Column(Boolean)
    Railway =Column(Boolean)
    Roundabout=Column(Boolean) 
    Station =Column(Boolean)
    Stop =Column(Boolean)
    Traffic_Calming=Column(Boolean)
    Traffic_Signal= Column(Boolean)
    Turning_Loop =Column(Boolean)
    Precipitation=Column(Float)
    Wind_Speed=Column(Float)
    Time= Column(String)
    StartDate=Column(String)
    Start_year= Column(Integer)

In [75]:
engine = create_engine('sqlite:///us_accidents.db', echo=False)
conn=engine.connect()
Base.metadata.create_all(engine)

In [77]:
#Accidents_df.to_sql('us_accidents', con=engine,if_exists="append",index=False)
#Base.metadata.create_all(engine)

In [78]:
engine = create_engine('sqlite:///us_accidents.db', echo=False)
conn=engine.connect()

In [79]:
#conn.execute("DROP TABLE us_accidents ")

In [80]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
base=automap_base()
base.prepare(engine, reflect=True)

In [81]:
base.classes.keys()

['us_accidents']

In [82]:
inspector = inspect(engine)
#inspector.get_table_names()

In [83]:
#pd.read_sql_table('us_accidents',conn)

In [84]:
columns = inspector.get_columns('us_accidents')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
Accident_id BIGINT
Severity INTEGER
Start_Time VARCHAR
End_Time VARCHAR
Start_Lat FLOAT
Start_Lng FLOAT
Street VARCHAR
City VARCHAR
State VARCHAR
Weather_Condition VARCHAR
Year INTEGER
Amenity BOOLEAN
Bump BOOLEAN
Crossing BOOLEAN
Give_Way BOOLEAN
Junction BOOLEAN
No_Exit BOOLEAN
Railway BOOLEAN
Roundabout BOOLEAN
Station BOOLEAN
Stop BOOLEAN
Traffic_Calming BOOLEAN
Traffic_Signal BOOLEAN
Turning_Loop BOOLEAN
Precipitation FLOAT
Wind_Speed FLOAT
Time VARCHAR
StartDate VARCHAR
Start_year INTEGER

In [85]:
session=Session(bind=engine)

In [88]:
## year filter query for leafletplot
year=2019
results=session.query(USAccidents).filter(USAccidents.Year==year).limit(10).all()
#print(results)
for result in results:
    print(result.City,result.State,result.Street,result.Start_Lat,result.Start_Lng,result.Severity,result.Weather_Condition)

Los Angeles CA N Spring St 34.056344 -118.241267 2 Fair
Los Angeles CA Golden State Fwy N 34.073060999999996 -118.21915600000001 2 Fair
Los Angeles CA  Whittier Blvd 34.016994 -118.14111499999999 2 Fair
Los Angeles CA Hollywood Fwy N 34.101681 -118.31649499999999 2 Fair
Los Angeles CA E Olympic Blvd 34.012465999999996 -118.137455 2 Fair
Los Angeles CA Golden State Fwy S 34.150413 -118.280699 2 Fair
Los Angeles CA S Los Angeles St 34.032086 -118.262248 2 Fair
San Diego CA Escondido Fwy S 32.806194 -117.11360800000001 2 Fair
Los Angeles CA Santa Ana Fwy N 34.059158000000004 -118.245397 2 Partly Cloudy
Dallas TX US-77 N 32.71821 -96.82807 3 Fair

In [28]:
start='2019-01-01'
end='2020-01-01'
start_date = dt.datetime.strptime(start, '%Y-%m-%d').date()
end_date=dt.datetime.strptime(end, '%Y-%m-%d').date()


results=session.query(USAccidents.City,func.count(USAccidents.Accident_id)).group_by(USAccidents.City).\
                    filter(USAccidents.StartDate>=start_date).filter(USAccidents.StartDate<=end).all()

print(results)

[('Dallas', 35), ('Los Angeles', 1193), ('New York', 12), ('San Diego', 556)]

In [27]:
#query for line plot with timedata
results=session.query(USAccidents.City,func.count(USAccidents.City),func.strftime("%Y-%m",USAccidents.StartDate)).\
                group_by(USAccidents.City,func.strftime("%Y-%m",USAccidents.StartDate)).limit(10).all()
print (results)

[('Dallas', 35, '2019-12'), ('Dallas', 114, '2020-01'), ('Dallas', 107, '2020-02'), ('Dallas', 287, '2020-03'), ('Dallas', 374, '2020-04'), ('Dallas', 466, '2020-05'), ('Dallas', 485, '2020-06'), ('Dallas', 4, '2020-07'), ('Dallas', 6, '2020-08'), ('Dallas', 476, '2020-09')]

In [29]:
results=session.query(USAccidents.Severity,func.count(USAccidents.Severity)).group_by(USAccidents.Severity).order_by(USAccidents.Severity).all()
print(results)

[(1, 7), (2, 34887), (3, 1973), (4, 783)]

In [30]:
#query citywise yearly count
results=session.query(USAccidents.Year,func.count(USAccidents.Year),USAccidents.City).group_by(USAccidents.Year,USAccidents.City).all()
print(results)

[(2019, 35, 'Dallas'), (2019, 1193, 'Los Angeles'), (2019, 12, 'New York'), (2019, 556, 'San Diego'), (2020, 8731, 'Dallas'), (2020, 18933, 'Los Angeles'), (2020, 1979, 'New York'), (2020, 6211, 'San Diego')]

In [31]:
#query weather condition
results=session.query(USAccidents.Weather_Condition,USAccidents.Year,USAccidents.City,func.count(USAccidents.Year)).group_by(USAccidents.Year,USAccidents.City,USAccidents.Weather_Condition).limit(10).all()
print(results)

[('Cloudy', 2019, 'Dallas', 4), ('Fair', 2019, 'Dallas', 18), ('Fair / Windy', 2019, 'Dallas', 1), ('Light Rain', 2019, 'Dallas', 6), ('Mostly Cloudy', 2019, 'Dallas', 4), ('Partly Cloudy', 2019, 'Dallas', 2), ('Cloudy', 2019, 'Los Angeles', 346), ('Fair', 2019, 'Los Angeles', 287), ('Haze', 2019, 'Los Angeles', 1), ('Heavy Rain', 2019, 'Los Angeles', 105)]

In [89]:
#query to find relatio among precipitation, windspeed, severity
results=session.query(USAccidents.Precipitation,USAccidents.Wind_Speed,USAccidents.Severity).limit(10).all() 
print(results)

[(0.0, 0.0, 2), (0.0, 7.0, 2), (0.0, 12.0, 2), (0.0, 0.0, 2), (0.0, 3.0, 2), (0.0, 13.0, 2), (0.0, 5.0, 2), (0.0, 8.0, 2), (0.0, 6.0, 2), (0.0, 3.0, 2)]

In [32]:
#query for accidents due to different road condition in two years 

Bump_accidents=session.query(USAccidents.Year,func.count(USAccidents.Year)).group_by(USAccidents.Year).filter(USAccidents.Bump==True).all()
Junction_accidents=session.query(USAccidents.Year,func.count(USAccidents.Year)).group_by(USAccidents.Year).filter(USAccidents.Junction==True).all()
No_Exit_accidents=session.query(USAccidents.Year,func.count(USAccidents.Year)).group_by(USAccidents.Year).filter(USAccidents.No_Exit==True).all()
Railway_accidents=session.query(USAccidents.Year,func.count(USAccidents.Year)).group_by(USAccidents.Year).filter(USAccidents.Railway==True).all()
Station_accidents=session.query(USAccidents.Year,func.count(USAccidents.Year)).group_by(USAccidents.Year).filter(USAccidents.Station==True).all()
Stop_accidents=session.query(USAccidents.Year,func.count(USAccidents.Year)).group_by(USAccidents.Year).filter(USAccidents.Stop==True).all()
Traffic_Calming_accidents=session.query(USAccidents.Year,func.count(USAccidents.Year)).group_by(USAccidents.Year).filter(USAccidents.Traffic_Calming==True).all()
Traffic_Signal_accidents=session.query(USAccidents.Year,func.count(USAccidents.Year)).group_by(USAccidents.Year).filter(USAccidents.Traffic_Signal==True).all()

print(f'''Bump_accidents:{Bump_accidents},Junction_accidents:{Junction_accidents},No_Exit_accidents:{No_Exit_accidents},
Railway_accidents:{Railway_accidents},Station_accidents:{Station_accidents},
Stop_accidents:{Stop_accidents},Traffic_Calming_accidents:{Traffic_Calming_accidents},Traffic_Signal_accidents:{Traffic_Signal_accidents}''')

Bump_accidents:[(2020, 4)],Junction_accidents:[(2019, 242), (2020, 5212)],No_Exit_accidents:[(2019, 2), (2020, 125)],
Railway_accidents:[(2019, 46), (2020, 584)],Station_accidents:[(2019, 90), (2020, 1021)],
Stop_accidents:[(2019, 19), (2020, 307)],Traffic_Calming_accidents:[(2020, 4)],Traffic_Signal_accidents:[(2019, 222), (2020, 5113)]

In [ ]:
#query for accidents in day and night time
from sqlalchemy import or_
evestart=dt.datetime.strptime('17:00:00', '%H:%M:%S').time()
midnight=dt.datetime.strptime('24:00:00', '%H:%M:%S').time()
morningstart=dt.datetime.strptime('00:00:00', '%H:%M:%S').time()
daystart=dt.datetime.strptime('05:00:00', '%H:%M:%S').time()

day_accidents_count=session.query(USAccidents).filter(USAccidents.Time>daystart,USAccidents.Time<evestart).count

#### Uploading dataframe in posgresql

In [33]:
engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost:5432/USAccidents')
conn=engine.connect()

In [ ]:
#Accidents_df.to_sql(name='us_accidents', con=engine, if_exists='replace', index=True, method='multi')

In [34]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
base=automap_base()
base.prepare(engine, reflect=True)

In [35]:
base.classes.keys()

['us_accidents']

In [36]:
USAccidents = base.classes.us_accidents